@tailwind base;
@tailwind components;
@tailwind utilities;


html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
   overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.swiper-button-prev,
.swiper-button-next {
  @apply opacity-0 transition-opacity duration-300;
}

.group:hover .swiper-button-prev,
.group:hover .swiper-button-next {
  @apply opacity-100;
}

.swiper-button-prev,
.swiper-button-next {
  color: white;
  font-size: 1.5rem;
}
